// https://material.io/tools/color/#!/?primary.color=2E7D32&secondary.color=FFAB00
$mdc-theme-primary: #2E7D32;
$mdc-theme-secondary:#FFAB00;
$mdc-theme-background: #f8f8f8;
$mdc-theme-surface: #fefefe;
$mdc-theme-error: #b00020;

@import 'styles';