// https://material.io/tools/color/#!/?primary.color=4caf50&secondary.color=f9a825
$mdc-theme-primary: #4caf50;
$mdc-theme-secondary:#f9a825;
$mdc-theme-background: #333;
$mdc-theme-surface: #444;
$mdc-theme-error: #ff5252;

@import 'styles';